$background: #ffffff !default;
$text: #5fff02 !default;

@mixin theme() {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body fills the viewport */
  }
  body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: #000; /* Dark theme for electronic vibes */
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  .btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #000;
    background: linear-gradient(90deg, #0ff, #08f);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 10px #0ff, 0 0 20px #08f;
    transition: all 0.3s ease-in-out;
  }

  .btn:hover {
    background: linear-gradient(90deg, #08f, #0ff);
    box-shadow: 0 0 20px #0ff, 0 0 40px #08f;
  }

  main {
    flex: 1; /* Allows content to expand while pushing the footer down */
  }
  footer {
      background-color: #f1f1f1;
      text-align: center;
      padding: 15px;
  }
}
