/* ==========================
   VARIABLES & THEMES
========================== */
/* ==========================
   MIXINS
========================== */
/* ==========================
   EFFECTS
========================== */
.hover-effect {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.neon {
  color: #007bff;
  text-shadow: 0 0 5px #007bff, 0 0 10px #007bff;
}

.glitch {
  position: relative;
  color: #dc3545;
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
}
.glitch::before {
  color: #28a745;
  left: 2px;
  animation: glitch 0.3s infinite;
}
.glitch::after {
  color: #ffc107;
  left: -2px;
  animation: glitch 0.3s infinite reverse;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.effect-hide {
  display: block;
  animation: effect-hide 15s forwards;
}

@keyframes effect-hide {
  0% {
    transform: display block;
  }
  100% {
    transform: display none;
  }
}
body {
  background-color: #ffffff;
  color: #5fff02;
}
body #landing-page {
  position: absolute;
  display: block;
  background-color: chartreuse;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}