@use "../../main.scss" as main;
@use '../../colors.scss' as colors;
@use '../../effects.scss';

$text: map-get(colors.$default, light);

body {
  background-color: map-get(colors.$default, dark) !important;
}

.theme-dark {
  html,
  body,
  section,
  article,
  aside,
  header,
  footer,
  main,
  nav,
  ul,
  ol,
  li,
  pre,
  code,
  blockquote,
  figure,
  figcaption,
  div  {
    background-color: map-get(colors.$default, dark) !important;
    color: $text !important;
  }

  a {
    color: $text !important;
  }

  ::selection {
    background-color: lighten(map-get(colors.$default, dark), 10%);
    color: $text !important;
  }
  
  //table elements
  table,
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    background-color: map-get(colors.$default, dark) !important;
    color: $text !important;
  }

  //Form elements
  form {
    input,
    textarea,
    select,
    button {
      border-color: darken(map-get(colors.$default, light), 10%) !important;
    }
  }

    //generic components
  #genericModal {
    opacity: 0.9;
    .modal-content {
      background-color: map-get(colors.$default, dark);
      color: $text;
      border: 2px solid $text;

      .modal-header {
        .btn-close {
          background-color: $text;
        }
      }
    }
  }
}
